<template>
 <div>
   <p class="subtitle">
     A simple JS app to calculate numbers. The presentation is powered by <strong><a href="https://bulma.io/">Bulma</a> & <a href="https://vuejs.org/">Vue.js</a></strong>. The arithmetic logic is powered by <strong><a href="https://github.com/MikeMcl/decimal.js/">decimal.js</a></strong>. Built (literally?) using <strong><a href="https://webpack.js.org/">webpack</a></strong>.
   </p>
   <p class="subtitle">
     Enter some numbers separated by newlines or commas in the form below and click "multiply"!
   </p>
 </div>
</template>
