<template>
  <div v-if="error" id="error-notification" style="word-wrap: break-word" class="notification is-fluid">
    Provided invalid input:
    <strong id="error-result">{{ error }}</strong>
  </div>
</template>

<script>
export default {
  name: 'error-notification',
  data: function () {
    return {
      currentNumbers: this.numbers,
      currentSolution: this.solution,
      currentError: this.error
    }
  },
  props: ['error']
}
</script>
