<template>
  <div>
    <appHeader></appHeader>
    <description></description>
    <notification v-bind:solution="currentSolution"></notification>
    <error-notification v-bind:error="currentError"></error-notification>
    <textarea v-model="currentNumbers" class="textarea" id="numbers" placeholder="enter numbers here"></textarea>
    <button class="button" v-on:click="calculate" id="number-btn">Multiply</button>
  </div>
</template>

<script>
import appHeader from './app-header'
import description from './description'
import errorNotification from './error-notification'
import notification from './notification'
import { calculate, Parser } from '@/multiplication'

export default {
  name: 'multiplication-app',
  data: function () {
    return {
      currentNumbers: this.numbers,
      currentSolution: this.solution,
      currentError: this.error
    }
  },
  props: ['numbers', 'input', 'solution', 'error'],
  components: {
    appHeader,
    description,
    errorNotification,
    notification
  },
  methods: {
    calculate: function () {
      let parser = new Parser()

      let extractedNumbers = parser.extractNumbers(this.currentNumbers)

      if (extractedNumbers === null) {
        this.currentError = null
        this.currentSolution = null
      } else {
        /*
       An array means we  got back numbers. And a string represents a problomatic input
       */
        if (extractedNumbers.constructor === Array) {
          this.currentError = null
          this.currentSolution = calculate(extractedNumbers).toString()
        } else if (extractedNumbers.constructor === String) {
          this.currentError = extractedNumbers
          this.currentSolution = null
        }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
