<template>
  <div v-if="solution"  id="notification" style="word-wrap: break-word" class="notification is-fluid">
    Calculated: <strong id="result">{{ solution }}</strong>
  </div>
</template>

<script>
export default {
  name: 'notification',
  data: function () {
    return {
      currentNumbers: this.numbers,
      currentSolution: this.solution,
      currentError: this.error
    }
  },
  props: ['solution']
}
</script>
